body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colorandfont
{
    background-color: #579C87;
    color: #FDCB46;
    font-family: 'Montserrat', sans-serif ;
}
header
{
    width: 90%;
    display: flex;
    justify-content: center;
}
.title
{
    font-size: 5em;
    font-weight: 1000;
}
main
{
    margin-top: 25px;
    margin-bottom: 150px;
}
article
{
    box-shadow: 0 0 1em grey;
    overflow: hidden;
    width: 500px;
    height: 700px;
    margin-bottom: 20px;
}
img
{
    width: 500px;
    height: 700px;
    &:hover{
        animation: zoom 1s forwards;
    }
}
@keyframes zoom
{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0.75;
    }
}
aside
{
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.soon
{
    font-size: 3em;
}
footer
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;
    margin-bottom: 25px;
    height: 100px;
    position: fixed;
    bottom: 5px;
}
.footers
{
    margin: auto;
}
.legal
{
    padding-left: 25px;
}
.contact
{
    padding-right: 25px;
    text-align: right;
}

@media all and (min-width: 1224px)
{
    header
    {
        width: 60%;
        height: 150px;
    }
    .title
    {
        margin: auto;
    }
    main
    {
        width: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-nav
    {
        display: flex;
        justify-content: center;
    }
    article
    {
        margin-right: 25px;
        width: 300px;
        height: 400px;
    }
    img
    {
        width: 300px;
        height: 400px;
    }
    aside
    {
        width: 40%;
        min-width: 300px;
        display: flex;
    }
    .soon
    {
        font-size: 2em;
    }
    footer
    {
        width: 60%;
        font-size: 2em;
    }
    .legal
    {
        margin-left: 25px;
    }
    .contact
    {
        margin-right: 25px;
    }
}