@import "../mixin/_global.scss";


@include headerfooter;

.menu-nav
{
    display:grid;
    grid-template-columns: auto;
    margin-top: 25px;
}
.grid-item
{
    width:300px;
    height: 400px;
    box-shadow: 0 0 1em grey;
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.name
{
    margin: auto;
}
.menu
{
    margin: auto;
}


.item1                                          /*MENU 1*/
{
    height: 100%;
    background-color:#FCDFDB;
    @include zoom;
}
.icon-1
{
    margin-top: 40%;
    height: 55px;
    width: 55px;
}
.name1
{
    margin-top: 0px;
    font-family: 'Devonshire', sans-serif;
    color: #3D1319;
    font-size: 2em;
}
.menu1
{
    font-family: 'Sriracha', sans-serif ;
    color: #3D1319;
    font-size: 2em;
    margin-bottom: 40%;
}

.item2                                      /*MENU 2*/
{
    height: 100%;
    background-color:#FFF5FE;
    @include zoom;
}
.name2
{
    margin-top: 50%;
    font-family: 'Lobster', sans-serif;
    font-size: 1.5em;
    background: linear-gradient(to right,#C77412,#8F5AFF );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu2
{
    margin-top: 10%;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #C77412;
}

.item3                                      /*MENU 3*/
{
    height: 100%;
    background-color:#F9F9F9;
    @include zoom;
}
.name3
{
    margin-top: 50%;
    font-family: 'Dancing Script', sans-serif ;
    font-size: 1.8em;
    background: linear-gradient(to right,#0023DB, #0887FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu3
{
    font-family: 'Caveat', sans-serif;
    font-size: 2.5em;
    margin-top: 10%;
    color:#0887FB;
}

.item4                                         /*MENU 4*/
{
    height: 100%;
    @include zoom;  
}
.name4
{
    margin-top: 50%;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 1.8em;
    background: linear-gradient(to right,#3E923A,#BEFF7F );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu4
{
    font-family: 'Caveat', sans-serif;
    font-size: 2.5em;
    margin-top: 10%;
    color:#72BF56;
}

.infuture                                              /*SHORTLY*/
{
    border-radius: 10px;
    background-color: #579C87;
    color: #FDCB46;
    font-family: 'Montserrat', sans-serif;
    @include shortly;
    display: flex;
    height: 50px;
    font-size: 1.2em;
    width: 80%;
    margin: auto;
    margin-bottom: 125px;
}
.soon
{
    margin: auto;
}
.circles
{
    margin: auto;
    margin-left: -20px;
    display: flex;
}
.circle
{
    margin-left: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.legal
{
    text-decoration: none;
    color: #FDCB46;
}
@include mediaqueries