@import "../mixin/_global.scss";

@include headerfooter;
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title
{
    text-decoration: none;
    color: #FDCB46;
}
main
{
    max-width: 90%;
}
.menu1
{
    text-align: center;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif ;
    color:#353535;
    font-weight: bold;
    padding: 20px;
}
.title
{
    display: flex;
    justify-content: center;
}

.head
{
    font-family: 'Devonshire', sans-serif;
    text-align: center;
}
h3
{
    color:#3D1319;
}
.section
{
    font-size: 1.3em;
    background-color: #FFF5FE;
    margin-bottom: 140px;
    margin-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
}
.article1, .h3-1
{
    color:#C67412;
}
.article2, .h3-2
{
    color:#A56799;
}
.article3, .h3-3
{
    color:#6E4CCC;
}
.name-menu
{
    padding: 35px;
    font-family: 'Lobster', sans-serif ;
    font-size: 2em;
    margin-top: -50px;
    background: linear-gradient(to right,#C77412,#8F5AFF );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
article
{
    font-family: 'Playfair Display', sans-serif ;
    margin-bottom: 50px;
}
.line
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price
{
    font-weight: bold;
}
@mixin center{
    margin:auto;
    width:30%;
    height: 40px;
}
.feature1, .feature3, .feature5
{
    @include center;
    margin-left:0;
}
.feature2, .feature4, .feature6
{
    @include center;
    margin-right: 0;
}
.legal
{
    text-decoration: none;
    color: #FDCB46;
}
@include mediapage2;

@include underline-b1;
@include underline-b2;
@include underline-b3;
