@mixin zoom
{
    &:hover{
        animation: zoom 1s forwards;
        @keyframes zoom             
        {
            0%{
                transform: scale(1);
                opacity: 1;
            }
            100%{
                transform: scale(1.5);
                opacity: 0.75;
            }
        } 
    } 
}




@mixin shake
{
    &:hover{
        animation: wiggle 0.5s 2 ease;
    }
    @keyframes wiggle                                   
    {
        0%{
            transform: translate(0px);
        }
        10%, 30%{
            transform: translate(-6px);
        }
        20%{
            transform: translate(-12px);
        }
        50%{
         transform: translate(0px);
        }
        60%, 80%{
            transform: translate(6px);
        }
        70%{
            transform: translate(12px);
        }
        100%{
         transform: translate(0px);
        }
    }
}

@mixin shortly
{
    &:hover{
        &>.circles .circle-1{
            animation: shortly 2s infinite ease-in-out;
        }
        &>.circles .circle-2{
            animation: shortly 2s infinite 0.6s ease-in-out;
        }
        &>.circles .circle-3{
            animation: shortly 2s infinite 1.2s ease-in-out;
        }
    }
    @keyframes shortly
   {
        5%{
            opacity: 0.5;
            background-color:#294A40;
        }
        16%{
            background-color: #294A40;
            opacity: 1;
        }
        33%{
            opacity: 0.5;
            background-color: #294A40;
        }
        100%{
            opacity: 0.25;
            background-color: #294A40;
        }   
    }
}
                                /*UNDERLINE PAGE1*/
@mixin underline-a1{
    .h3-1
    {
        position: relative;
    }
    .h3-1:hover::before{
        animation: underline1 1s forwards ease-in-out;
    }
    .h3-1::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -10%;
        background-color:#3D1319;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underline1{
        from{
            width:0
        }
        to{
            width:6.5ch
        }
    }
}


@mixin underline-a2{
    .h3-2
    {
        position: relative;
    }
    .h3-2:hover::before{
        animation: underline2 1s forwards ease-in-out;
    }
    .h3-2::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -10%;
        background-color:#3D1319;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underline2{
        from{
            width:0
        }
        to{
            width:11ch
        }
    }
}

@mixin underline-a3{
    .h3-3
    {
        position: relative;
    }
    .h3-3:hover::before{
        animation: underline3 1s forwards ease-in-out;
    }
    .h3-3::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -10%;
        background-color:#3D1319;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underline3{
        from{
            width:0
        }
        to{
            width:14ch
        }
    }
}
                                /*UNDERLINE PAGE2*/
@mixin underline-b1{
    .h3-1
    {
        position: relative;
    }
    .h3-1:hover::before{
        animation: underlineb1 1s forwards ease-in-out;
    }
    .h3-1::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -2%;
        background-color:#C67412;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlineb1{
        from{
            width:0
        }
        to{
            width:19.5ch
        }
    }
}
@mixin underline-b2{
    .h3-2
    {
        position: relative;
    }
    .h3-2:hover::before{
        animation: underlineb2 1s forwards ease-in-out;
    }
    .h3-2::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -2%;
        background-color:#A56799;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlineb2{
        from{
            width:0
        }
        to{
            width:14.5ch
        }
    }
}
@mixin underline-b3{
    .h3-3
    {
        position: relative;
    }
    .h3-3:hover::before{
        animation: underlineb3 1s forwards ease-in-out;
    }
    .h3-3::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -2%;
        background-color:#6E4CCC;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlineb3{
        from{
            width:0
        }
        to{
            width:17.5ch
        }
    }
}

@mixin underline-c1{                /*UNDERLINE PAGE3*/
    .h3-1
    {
        position: relative;
    }
    .h3-1:hover::before{
        animation: underlinec1 1s forwards ease-in-out;
    }
    .h3-1::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -2%;
        background-color:#0228DD;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlinec1{
        from{
            width:0
        }
        to{
            width:16.5ch
        }
    }
}
@mixin underline-c2{
    .h3-2
    {
        position: relative;
    }
    .h3-2:hover::before{
        animation: underlinec2 1s forwards ease-in-out;
    }
    .h3-2::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -2%;
        background-color:#0670F3;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlinec2{
        from{
            width:0
        }
        to{
            width:15.5ch
        }
    }
}
@mixin underline-c3{
    .h3-3
    {
        position: relative;
    }
    .h3-3:hover::before{
        animation: underlinec3 1s forwards ease-in-out;
    }
    .h3-3::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -2%;
        background-color:#229DF9;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlinec3{
        from{
            width:0
        }
        to{
            width:15ch
        }
    }
}

@mixin underline-d1{                /*ANIMATIONS PAGE4*/
    .h3-1
    {
        position: relative;
    }
    .h3-1:hover::before{
        animation: underlined1 1s forwards ease-in-out;
    }
    .h3-1::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -5%;
        background-color:#7FC860;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlined1{
        from{
            width:0
        }
        to{
            width:7ch
        }
    }
}
@mixin underline-d2{
    .h3-2
    {
        position: relative;
    }
    .h3-2:hover::before{
        animation: underlined2 1s forwards ease-in-out;
    }
    .h3-2::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -5%;
        background-color:#7FC860;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlined2{
        from{
            width:0
        }
        to{
            width:13.5ch
        }
    }
}
@mixin underline-d3{
    .h3-3
    {
        position: relative;
    }
    .h3-3:hover::before{
        animation: underlined3 1s forwards ease-in-out;
    }
    .h3-3::before{
        content: "";
        width: 0;
        height: 5px;
        bottom: -5px;
        left: -5%;
        background-color:#7FC860;
        border-radius: 20px;
        position: absolute;
    }
 @keyframes underlined3{
        from{
            width:0
        }
        to{
            width:15ch
        }
    }
}

