@mixin mediaqueries
{
    @media all and (min-width: 1225px)                  /*media queries*/
    {
        .menu-nav
        {
            display:grid;
            grid-template-columns: auto auto;
        }
        .grid-item
        {
            width:400px;
            height: 500px;
        }
        .name1
        {
            margin-top: 15px;
        }
        .infuture
        {
            width: 50%;
        }

    }
}

@mixin mediapage1
{
    @media all and (max-width: 1225px)
    {
        .feature1
        {
            display: none;
        }
        .feature2
        {
            display: none;
        }
    }
    @media all and (min-width: 1225px)
    {
        main
        {
            width: 50%;
        }
    }
}

@mixin mediapage2
{
    @media all and (max-width: 1225px)
    {
        .feature1, .feature2, .feature3, .feature4, .feature5, .feature6
        {
            display: none;
        }
    }
    @media all and (min-width: 1225px)
    {
        main
        {
            width: 50%;
        }
    }
}
