@mixin mediaqueries
{
    @media all and (min-width: 1225px)                  /*media queries*/
    {
        .menu-nav
        {
            display:grid;
            grid-template-columns: auto auto;
        }
        .grid-item
        {
            width:400px;
            height: 500px;
        }
        .name1
        {
            margin-top: 15px;
        }
        .infuture
        {
            width: 50%;
        }

    }
}

@mixin mediapage1
{
    @media all and (min-width: 1225px)
    {
        main
        {
            max-width: 55%;
        }
    }
}