@import "../mixin/_global.scss";

@include headerfooter;

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main
{
    max-width: 90%;
}
.menu1
{
    text-align: center;
    font-size: 2.2em;
    font-family: 'Sriracha', sans-serif ;
    color:#353535;
    font-weight: bold;
    margin-top: 45px;
}
.icon-title
{
    height: 110px;
    width: 110px;
}
.head
{
    font-family: 'Devonshire', sans-serif;
    text-align: center;
}
section
{
    color:#3D1319;
    font-size: 2em;
    background-color: #FCDFDB;
    padding: 60px;
    margin-bottom: 140px;
    margin-top: 25px;
}
.name-menu
{
    font-size: 2.5em;
    margin-top: -50px;
}
.name-menu-aside
{
    font-size: 2em;
    margin-left: 25px;
}
.icon-aside
{
    width: 60px;
    height: 60px;
}
article
{
    font-family: 'Caveat', ;
    margin-bottom: 50px;
}
article h3
{
    text-align: center;
}
.line
{
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
}
.price
{
    font-weight: bold;
}
aside
{
    font-family: 'Devonshire', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}