/*background and color*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; }

header {
  background-color: #579C87;
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 3em;
  font-weight: bold;
  height: 150px;
  display: flex; }

.title {
  margin: auto; }

footer {
  background-color: #579C87;
  color: #FDCB46;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 25px;
  height: 75px;
  position: fixed;
  bottom: 5px; }

.footers {
  margin: auto; }

.legal {
  padding-left: 20px; }
  .legal:hover {
    animation: wiggle 0.5s 2 ease; }
@keyframes wiggle {
  0% {
    transform: translate(0px); }
  10%, 30% {
    transform: translate(-6px); }
  20% {
    transform: translate(-12px); }
  50% {
    transform: translate(0px); }
  60%, 80% {
    transform: translate(6px); }
  70% {
    transform: translate(12px); }
  100% {
    transform: translate(0px); } }
.contact {
  text-decoration: underline;
  padding-right: 20px;
  text-align: right; }
  .contact:hover {
    animation: wiggle 0.5s 2 ease; }
@keyframes wiggle {
  0% {
    transform: translate(0px); }
  10%, 30% {
    transform: translate(-6px); }
  20% {
    transform: translate(-12px); }
  50% {
    transform: translate(0px); }
  60%, 80% {
    transform: translate(6px); }
  70% {
    transform: translate(12px); }
  100% {
    transform: translate(0px); } }
a:link {
  color: #FDCB46;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

main {
  max-width: 90%; }

.menu1 {
  text-align: center;
  font-size: 2.2em;
  font-family: "Sriracha", sans-serif;
  color: #353535;
  font-weight: bold;
  margin-top: 45px; }

.icon {
  padding-top: 5px; }

.icon-title {
  height: 80px;
  width: 80px; }

.title {
  display: flex;
  justify-content: center; }

.head {
  font-family: 'Devonshire', sans-serif;
  text-align: center; }

.section {
  color: #3D1319;
  font-size: 1.7em;
  background-color: #FCDFDB;
  margin-bottom: 140px;
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%; }

.name-menu {
  font-size: 2em;
  margin-top: -50px; }

article {
  font-family: "Caveat", sans-serif;
  margin-bottom: 50px; }

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.price {
  font-weight: bold; }

aside {
  font-family: 'Devonshire', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-aside {
  width: 45px;
  height: 45px; }

.name-menu-aside {
  margin-left: 25px;
  font-size: 1.7em;
  text-align: center; }

.feature1 {
  margin: auto;
  width: 30%;
  height: 40px;
  margin-left: 0; }

.feature2 {
  margin: auto;
  width: 30%;
  height: 40px;
  margin-right: 0; }

@media all and (max-width: 1225px) {
  .feature1 {
    display: none; }

  .feature2 {
    display: none; } }
@media all and (min-width: 1225px) {
  main {
    width: 50%; } }
.h3-1 {
  position: relative; }

.h3-1:hover::before {
  animation: underline1 1s forwards ease-in-out; }

.h3-1::before {
  content: "";
  width: 0;
  height: 5px;
  bottom: -5px;
  left: -10%;
  background-color: #3D1319;
  border-radius: 20px;
  position: absolute; }

@keyframes underline1 {
  from {
    width: 0; }
  to {
    width: 6.5ch; } }
.h3-2 {
  position: relative; }

.h3-2:hover::before {
  animation: underline2 1s forwards ease-in-out; }

.h3-2::before {
  content: "";
  width: 0;
  height: 5px;
  bottom: -5px;
  left: -10%;
  background-color: #3D1319;
  border-radius: 20px;
  position: absolute; }

@keyframes underline2 {
  from {
    width: 0; }
  to {
    width: 11ch; } }
.h3-3 {
  position: relative; }

.h3-3:hover::before {
  animation: underline3 1s forwards ease-in-out; }

.h3-3::before {
  content: "";
  width: 0;
  height: 5px;
  bottom: -5px;
  left: -10%;
  background-color: #3D1319;
  border-radius: 20px;
  position: absolute; }

@keyframes underline3 {
  from {
    width: 0; }
  to {
    width: 14ch; } }

/*# sourceMappingURL=style.css.map */
