@import "../mixin/_global.scss";

@include headerfooter;

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title
    {
        text-decoration: none;
        color: #FDCB46;
    }
main
{
    max-width: 90%;
}
.menu1
{
    text-align: center;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif ;
    color:#353535;
    font-weight: bold;
    margin-top: 25px;
}
.icon
{
    padding-top: 5px;
}
.icon-title
{
    height: 80px;
    width: 80px;
}
.title
{
    display: flex;
    justify-content: center;
}

.head
{
    font-family: 'Devonshire', sans-serif;
    text-align: center;
}
h3
{
    color:#3D1319;
}
.section
{
    color:#3D1319;
    font-size: 1.7em;
    background-color: #FCDFDB;
    margin-bottom: 140px;
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}
.name-menu
{
    font-size: 2em;
    margin-top: -50px;
}
article
{
    font-family: 'Caveat', sans-serif ;
    margin-bottom: 50px;
}
.line
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price
{
    font-weight: bold;
}

aside
{
    font-family: 'Devonshire', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-aside
{
    width: 45px;
    height: 45px;
}
.name-menu-aside
{
    margin-left: 25px;
    font-size: 1.7em;
    text-align: center;
}

@mixin center{
    margin:auto;
    width:30%;
    height: 40px;
}
.feature1
{
    @include center;
    margin-left:0;
}
.feature2
{
    @include center;
    margin-right: 0;
}
@include mediapage1;

@include underline-a1;
@include underline-a2;
@include underline-a3;